/* Footer styles */
footer {
  background: linear-gradient(to bottom, #4caf50, #3e8e41);
  padding-bottom: 34px;
  color: #fff;
}

footer a {
  display: block;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin: auto;
  font-size: 13px;
}

footer p {
  margin-bottom: 0;
}

footer em {
  font-style: normal;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

footer .bigImg img {
  object-position: top;
}

address {
  font-style: italic;
  padding-bottom: 21px;
  padding-top: 34px;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
}

.contact {
  display: grid;
  grid-template-columns: 44px 1fr 1fr;
  gap: 1px;
}

.contact a {
  margin-top: 13px;
}

.contact img {
  width: 34px;
  height: 34px;
  margin-bottom: 0;
}

#no_wa {
  color: #fff;
  font-size: 13px;
  margin-top: 15px;
}

#no_wa a {
  color: #3e8e41;
  text-decoration: underline;
  text-underline-offset: 3px;
}
