main {
  background: #fff;
  padding-top: 8px;
  padding-bottom: 55px;
}

article {
  background: #fff;
  padding: 34px;
  text-align: left;
  border-bottom: 19px solid #ede6db;
}

article img {
  width: 100%;
  height: 477px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 13px;
  margin: 13px 0;
}

p {
  margin-bottom: 15px;
  padding: 5px;
}

article p {
  padding-left: 0;
}

article address {
  color: #333;
  padding-top: 13px;
  margin-bottom: -13px;
}

article a {
  color: #3e8e41;
  margin-bottom: 5px;
  display: block;
}

h2 {
  font-weight: bolder;
  font-size: 17px;
}

h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
  padding: 13px;
  padding-bottom: 21px;
  color: #584629;
  border-bottom: 19px solid #ede6db;
}
